{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Begin page -->
<div id="layout-wrapper">
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                                  <div class="col-12">
                                      <div class="page-title-box d-flex align-items-center justify-content-between">
                                          <h4 class="mb-0 font-size-18">Car Checkin</h4>
      
                                          <div class="page-title-right">
                                              <ol class="breadcrumb m-0">
                                                  <li class="breadcrumb-item"><a href="javascript: void(0);"></a></li>
                                                  <li class="breadcrumb-item active"><a href="{% url 'car:create_car' %}">{{ carout.make }} {{ carout.model }} {{ carout.number_plate }}</a></li>
                                              </ol>
                                          </div>
                                          
                                      </div>
                                  </div>
                              </div>     
                <!-- start page title -->
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form %}
                            <div class="col-md-3">
                                <div class="form-check">
                                    {{ field }}
                                    <label for="{{ field.id_for_label }}" class="form-check-label">
                                        {{ field.label_tag }}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
</div>
{% endblock content %}
