{% extends 'main/base.html' %}
        {% block content %}
                <!-- Begin page -->
                <div id="layout-wrapper">

                  <div class="main-content">
      
                      <div class="page-content">
                          <div class="container-fluid">
                              <!-- start page title -->
                              <div class="row">
                                  <div class="col-12">
                                      <div class="page-title-box d-flex align-items-center justify-content-between">
                                          <h4 class="mb-0 font-size-18">Dashboard</h4>
      
                                          
                                          
                                      </div>
                                  </div>
                              </div>     
                              <!-- end page title -->
      
                              <div class="row">
                                  <div class="col-xl-12">
                                      <div class="card">
                                          <div class="card-body">
                                            <table class="table table-centered table-hover table-xl mb-0" id="car-reservations">
                                                <thead>
                                                    <tr>
                                                        <th class="border-top-0">Car Class</th>
                                                        <th class="border-top-0">Car</th>
                                                        <th class="border-top-0">Number Plate</th>
                                                        <th class="border-top-0">Client</th>
                                                        <th class="border-top-0">Phone</th>
                                                        <th class="border-top-0">Hire Date</th>
                                                        <th class="border-top-0">Check-in Date</th>
                                                        <th class="border-top-0">Total Amount</th>
                                                        <th class="border-top-0">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for checkin in cars_to_checkin %}
                                                        <tr>
                                                            <td class="text-truncate">
                                                                <a href="">{{ checkin.car_class }}</a>
                                                            </td>
                                                            <td class="text-truncate">{{ checkin.make }} {{ checkin.model }}</td>
                                                            <td class="text-truncate">{{ checkin.number_plate }}</td>
                                                            <td class="text-truncate">{{ checkin.full_name }}</td>
                                                            <td class="text-truncate">{{ checkin.mobile_number }}</td>
                                                            <td class="text-truncate">{{ checkin.start_date }}</td>
                                                            <td class="text-truncate">{{ checkin.end_date }}</td>
                                                            <td class="text-truncate">{{ checkin.amount }}</td>
                                                            <td>
                                                                <a href="{% url 'reservations:carout_detail' carout_id=checkin.id %}">View Details</a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            
                                                
                                                
                                            </div>
      
                                          </div> <!-- end card-body-->
                                      </div> <!-- end card-->
                                  </div> <!-- end col -->
                              </div>
                            
                              
          
          
      
                              
                          </div> <!-- container-fluid -->
                      </div>
      
                  </div>
                  <!-- end main content-->
      
              </div>
        {% endblock content %}
   