{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Begin page -->
<div id="layout-wrapper">
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <!-- Modal -->
                    <div class="modal fade" id="contractModal" tabindex="-1" role="dialog" aria-labelledby="contractModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="contractModalLabel text-center">Do you want to make the contract now?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <!-- Buttons will be centered -->
                                    <button type="button" class="btn btn-primary" onclick="redirectToContract()">Yes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="stayOnReservationPage()">No</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
</div>

<script type="text/javascript">
    // Display the modal automatically when the page loads
    $(document).ready(function() {
        $('#contractModal').modal('show');
    });

    function redirectToContract() {
        // Redirect to the contract view
        window.location.href = "{% url 'reservations:make_contract' reservation.id %}";
    }

    function stayOnReservationPage() {
        // Stay on the reservation page
        window.location.href = "{% url 'reservations:delete_reservation' reservation.id %}";
    }
</script>

{% endblock content %}
