{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Begin page -->
<div id="layout-wrapper">
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Contract Details</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Vehicles</a></li>
                                    <li class="breadcrumb-item active"><a href="">{{ reservation.car.make.name }} {{ reservation.car.model.name }}</a></li>
                                </ol>
                            </div>
                            
                        </div>
                    </div>
                </div>     


                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">  
                                <div class="row">
                                    <div class="col-sm-2 mb-2 mb-sm-0">
                                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <a class="nav-link active show" id="v-pills-home-tab" data-toggle="pill" href="#car-details" role="tab" aria-controls="v-pills-home"
                                                aria-selected="true">
                                                <i class="mdi mdi-home-variant d-lg-none d-block"></i>
                                                <span class="d-none d-lg-block">Car Details</span>
                                            </a>
                                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                                aria-selected="false">
                                                <i class="mdi mdi-account-circle d-lg-none d-block"></i>
                                                <span class="d-none d-lg-block">Profile</span>
                                            </a>
                                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                                                aria-selected="false">
                                                <i class="mdi mdi-settings-outline d-lg-none d-block"></i>
                                                <span class="d-none d-lg-block">Settings</span>
                                            </a>
                                        </div>
                                    </div> <!-- end col-->

                                    <div class="col-sm-10">
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade active show" id="car-details" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                <form method="post" enctype="multipart/form-data" class="form-horizontal">
                                                    {% csrf_token %}
                                                    <fieldset class="form-group">
                                                      <div class="form-row">
                                                        <div class="form-group col-md-4 mb-0">
                                                          {{ form.number_plate|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                          {{ form.make|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.model|as_crispy_field }}
                                                          </div>
                                                        
                                                      </div>
                                                      <div class="form-row">
                                                        <div class="form-group col-md-4 mb-0">
                                                          {{ form.year|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                          {{ form.car_class|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.color|as_crispy_field }}
                                                          </div>
                                                        
                                                      </div>
                                                      <div class="form-row">
                                                        <div class="form-group col-md-4 mb-0">
                                                          {{ form.mileage|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                          {{ form.seating_capacity|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.daily_rate|as_crispy_field }}
                                                          </div>
                                                        
                                                      </div>
                                                      
                                                     
                                                      
                                                    </fieldset>
                                                    <div class="form-row text-center">
                                                      <div class="form-group col-md-12 mb-2">
                                                        <button style="background-color: #3d4255; border: #3d4255;" class="btn btn-success" type="submit">submit</button>
                                                      </div>
                                                    </div>
                                                  </form>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                <p class="mb-0">Culpa dolor voluptate do laboris laboris irure reprehenderit id incididunt duis pariatur mollit aute magna
                                                    pariatur consectetur. Eu veniam duis non ut dolor deserunt commodo et minim in quis laboris ipsum velit
                                                    id veniam. Quis ut consectetur adipisicing officia excepteur non sit. Ut et elit aliquip labore Leggings
                                                    enim eu. Ullamco mollit occaecat dolore ipsum id officia mollit qui esse anim eiusmod do sint minim consectetur
                                                    qui.</p>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                                <p class="mb-0">Food truck quinoa dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                                                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                                                    eu, pretium quis, sem. Nulla consequat massa quis enim. Cillum ad ut irure tempor velit nostrud occaecat ullamco
                                                    aliqua anim Leggings sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui.</p>
                                            </div>
                                        </div> <!-- end tab-content-->
                                    </div> <!-- end col-->
                                </div>
                                <!-- end row-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->  
                </div>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
</div>


{% endblock content %}
