{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Begin page -->
<div id="layout-wrapper">
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Contract Details</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Vehicles</a></li>
                                    <li class="breadcrumb-item active"><a href="">{{ reservation.car.make.name }} {{ reservation.car.model.name }}</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Contract Details</h4>
                                <p class="card-subtitle mb-4 text-center">----------------------Car Details----------------------</p>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade active show" id="car-details" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                <!-- car details and renter details form -->
                                                <form method="post" enctype="multipart/form-data" class="form-horizontal">
                                                    {% csrf_token %}
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.number_plate|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.make|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.model|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.year|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.car_class|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.color|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.mileage|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.seating_capacity|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.daily_rate|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row text-center">
                                                        <div class="form-group col-md-12">
                                                            <p class="mb-4">----------------------Renters Details----------------------</p>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.full_name|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.id_number|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.email|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.age|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.nationality|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.ld_appt_number|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.drivers_license_number|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.country_of_issue|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.license_expiry|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.credit_card|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.credit_card_number|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.card_expiry|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.mobile_number|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.country_of_issue|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.office_telephone|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.mobile_number|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.office_telephone|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.physical_address|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            {{ combined_form.residence_address|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            {{ combined_form.where_the_car_will_be_used_or_parked|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            {{ combined_form.payment_method|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row text-center">
                                                        <div class="form-group col-md-12">
                                                            <p class="mb-4">----------------------Payment----------------------</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-3">
                                                            {{ combined_form.sub_total|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            {{ combined_form.vat|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            {{ combined_form.amount|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            {{ combined_form.deposit|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <!-- More rows for other fields can be added here -->

                                                    <div class="form-row text-center">
                                                        <div class="form-group col-md-12 mb-2">
                                                            <button name="car_details_submit" class="btn btn-primary bg-lg" type="submit" {% if combined_form.instance.pk %} disabled {% endif %}>Submit the contract Details</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
</div>
{% endblock content %}
