{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
        {% block content %}
                <!-- Begin page -->
                <div id="layout-wrapper">

                  <div class="main-content">
      
                      <div class="page-content">
                          <div class="container-fluid">
                              <!-- start page title -->
                              <div class="row">
                                  <div class="col-12">
                                      <div class="page-title-box d-flex align-items-center justify-content-between">
                                          <h4 class="mb-0 font-size-18">Dashboard</h4>
      
                                          <div class="page-title-right">
                                              <ol class="breadcrumb m-0">
                                                  <li class="breadcrumb-item"><a href="javascript: void(0);">Vehicles</a></li>
                                                  <li class="breadcrumb-item active"><a href="">{{ car.make.name }} {{ car.model.name }}</a></li>
                                              </ol>
                                          </div>
                                          
                                      </div>
                                  </div>
                              </div>     
    
    
                              
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Simplified Reservation form</h4>
                                        <p class="card-subtitle mb-4">Enter the rate per day or check apply normal rates to use normal rates</p>

                            

                                        <form method="post" enctype="multipart/form-data" class="form-horizontal">
                                            {% csrf_token %}
                                            <fieldset class="form-group">
                                              <div class="form-row">
                                                <div class="form-group col-md-6 mb-0">
                                                  {{ form.car|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-6 mb-0">
                                                  {{ form.client|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-6 mb-0">
                                                    
                                                  </div>
                                              </div>
                                              <div class="form-row">
                                                <div class="form-group col-md-6 mb-0">
                                                  {{ form.start_date|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-6 mb-0">
                                                  {{ form.end_date|as_crispy_field }}
                                                </div>
                                              </div>
                                              <div class="form-row">
                                                <div class="form-group col-md-6 mb-0">
                                                    {{ form.daily_rates|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-6 mb-0">
                                                    {{ form.standard_rate|as_crispy_field }}
                                                  </div>
                                              </div>
                                              <div class="form-row">
                                                
                                                <div class="form-group col-md-6 mb-0">
                                                    <p class="alert alert-info">check this to use nromal vehicle rates</p>
                                                  {{ form.apply_normal_rates|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-6 mb-0">
                                                    <p class="alert alert-info">check this to add VAT (16%)</p>
                                                  {{ form.add_VAT|as_crispy_field }}
                                                </div>
                                              </div>
                                            </fieldset>
                                            <div class="form-row text-center">
                                              <div class="form-group col-md-12 mb-2">
                                                <button class="btn btn-primary btn-lg" type="submit">Reserve This Vehicle</button>
                                              </div>
                                            </div>
                                          </form>
                                          
    
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                            <div class="col-xl-4">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="card-body">

                                            <h4 class="card-title">{{ car.make.name }} {{ car.model.name }} <br> {{ car.number_plate }}</h4>
                                            <p class="card-subtitle mb-4 font-size-13 alert alert-info">Normal Vehicle Hire Rates
                                            </p>
    
                                            <div class="table-responsive">
                                                <table class="table table-centered table-hover table-xl mb-0" id="recent-orders">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-top-0">Daily</th>
                                                            <th class="border-top-0">Weekly</th>
                                                            <th class="border-top-0">Monthly</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-truncate">{{ car.daily_rate }}</td>
                                                            <td class="text-truncate">{{ car.weekly_rate }}</td>
                                                            <td class="text-truncate">{{ car.monthly_rate }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
    
                                        </div> <!-- end card-body-->
                                        
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row-->
    
                        
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {% endblock content %}