{% extends 'main/base.html' %}
        {% block content %}
                <!-- Begin page -->
                <div id="layout-wrapper">

                  <div class="main-content">
      
                      <div class="page-content">
                          <div class="container-fluid">
                              <!-- start page title -->
                              <div class="row">
                                  <div class="col-12">
                                      <div class="page-title-box d-flex align-items-center justify-content-between">
                                          <h4 class="mb-0 font-size-18">Dashboard</h4>
      
                                          <div class="page-title-right">
                                              <ol class="breadcrumb m-0">
                                                  <li class="breadcrumb-item"><a href="javascript: void(0);">Vehicles</a></li>
                                                  <li class="breadcrumb-item active"><a href="">Reservations</a></li>
                                              </ol>
                                          </div>
                                          
                                      </div>
                                  </div>
                              </div>     
                            <!-- end page title -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title d-inline-block">Rent Occupation</h4>
                            
                                            <!-- Create a canvas for the bar graph -->
                                            <canvas id="carChart" class="morris-chart" height="80"></canvas>
                            
                                            <div class="row text-center mt-4">
                                                <!-- Additional content, if any -->
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
    
                                        <ul class="nav nav-tabs mb-3">
                                            <li class="nav-item">
                                                <a href="#fleet" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                                    <i class="mdi mdi-home-variant d-lg-none d-block"></i>
                                                    <span class="d-none d-lg-block">Vehicles in fleet( {{ total_cars }} )</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#upcoming_rentals" data-toggle="tab" aria-expanded="true" class="nav-link">
                                                    <i class="mdi mdi-account-circle d-lg-none d-block"></i>
                                                    <span class="d-none d-lg-block">Upcoming Rentals( {{ future_reservations_count }} )</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#current_rentals" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                    <i class="mdi mdi-settings-outline d-lg-none d-block"></i>
                                                    <span class="d-none d-lg-block">Cars on rent( {{current_reservations_count}} )</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#today_reservations" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                    <i class="mdi mdi-settings-outline d-lg-none d-block"></i>
                                                    <span class="d-none d-lg-block">Todays Reservations( {{reservations_made_today_count}} )</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#fleet_available" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                    <i class="mdi mdi-settings-outline d-lg-none d-block"></i>
                                                    <span class="d-none d-lg-block">Fleet Available( {{available_cars_count}})</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#checkin" data-toggle="tab" aria-expanded="false" class="nav-link">
                                                    <i class="mdi mdi-settings-outline d-lg-none d-block"></i>
                                                    <span class="d-none d-lg-block">Pending Checkin ( {{pending_checkin_count}} )</span>
                                                </a>
                                            </li>
                                        </ul>
    
                                        <div class="tab-content">
                                            <div class="tab-pane show active" id="fleet">
                                                <form method="GET" action="{% url 'reservations:reservations' %}" class="text-center mt-4 mb-4">
                                                    <label for="number_plate_filter">Search by Number Plate:</label>
                                                    <input type="text" id="number_plate_filter" name="number_plate" class="form-control-lg" placeholder="Enter Car Number plate" value="{{ request.GET.number_plate }}">
                                            
                                                    <label for="car_class_filter">Search by Car Class:</label>
                                                    <select id="car_class_filter" class="form-control-lg" name="car_class">
                                                        <option value="">Select Car Class</option>
                                                        {% for car_class in car_classes %}
                                                            <option value="{{ car_class.id }}" {% if request.GET.car_class == car_class.id %}selected{% endif %}>{{ car_class.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                            
                                                    <button type="submit" class="btn btn-primary btn-lg">Apply</button>
                                                </form>
                                                <table class="table table-centered table-hover table-xl mb-0" id="car-reservations">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-top-0">Car Class</th>
                                                            <th class="border-top-0">Model</th>
                                                            <th class="border-top-0">Car Make</th>
                                                            <th class="border-top-0">Year</th>
                                                            <th class="border-top-0">Number Plate</th>
                                                            <th class="border-top-0">Color</th>
                                                            <th class="border-top-0">Seating Capacity</th>
                                                            <th class="border-top-0">Daily Rate</th>
                                                            <th class="border-top-0">Weekly Rate</th>
                                                            <th class="border-top-0">Monthly Rate</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for car in cars_list %}
                                                            <tr>
                                                                <td class="text-truncate">{{ car.car_class.name }}</td>
                                                                <td class="text-truncate"><a href="{% url 'main:car_detail' car.id %}">{{ car.model.name }}</a></td>
                                                                <td class="text-truncate">{{ car.make.name }}</td>
                                                                <td class="text-truncate">{{ car.year }}</td>
                                                                <td class="text-truncate">{{ car.number_plate }}</td>
                                                                <td class="text-truncate">{{ car.color }}</td>
                                                                <td class="text-truncate">{{ car.seating_capacity }}</td>
                                                                <td class="text-truncate">Ksh {{ car.daily_rate }}</td>
                                                                <td class="text-truncate">Ksh {{ car.weekly_rate }}</td>
                                                                <td class="text-truncate">Ksh {{ car.monthly_rate }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane" id="upcoming_rentals">
                                                <table class="table table-centered table-hover table-xl mb-0" id="car-reservations">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-top-0">Car</th>
                                                            <th class="border-top-0">Number Plate</th>
                                                            <th class="border-top-0">Seating Capacity</th>
                                                            <th class="border-top-0">Client Name</th>
                                                            <th class="border-top-0">client Email</th>
                                                            <th class="border-top-0">Client Phone</th>
                                                            <th class="border-top-0">Client ID</th>
                                                            <th class="border-top-0">Start Date</th>
                                                            <th class="border-top-0">End Date</th>
                                                            <th class="border-top-0">Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for reservation in future_reservations %}
                                                            <tr>
                                                                <td class="text-truncate">
                                                                    <a href="{% url 'main:car_detail' reservation.car.id %}">{{ reservation.car.make.name }} {{ reservation.car.model.name }}</a>
                                                                </td>
                                                                <td class="text-truncate">{{ reservation.car.number_plate }}</td>
                                                                <td class="text-truncate">{{ reservation.car.seating_capacity }}</td>
                                                                <td class="text-truncate">{{ reservation.client.first_name }} {{ reservation.client.last_name }}</td>
                                                                <td class="text-truncate">{{ reservation.client.email }}</td>
                                                                <td class="text-truncate">{{ reservation.client.phone_number }}</td>
                                                                <td class="text-truncate">{{ reservation.client.id_number }}</td>
                                                                <td class="text-truncate">{{ reservation.start_date }}</td>
                                                                <td class="text-truncate">{{ reservation.end_date }}</td>
                                                                <td class="text-truncate">$ {{ reservation.rate }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                
                                            </div>
                                            <div class="tab-pane" id="current_rentals">
                                                <table class="table table-centered table-hover table-xl mb-0" id="car-reservations">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-top-0">Car</th>
                                                            <th class="border-top-0">Number Plate</th>
                                                            <th class="border-top-0">Seating Capacity</th>
                                                            <th class="border-top-0">Client Name</th>
                                                            <th class="border-top-0">client Email</th>
                                                            <th class="border-top-0">Client Phone</th>
                                                            <th class="border-top-0">Client ID</th>
                                                            <th class="border-top-0">Start Date</th>
                                                            <th class="border-top-0">End Date</th>
                                                            <th class="border-top-0">Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for reservation in current_reservations %}
                                                            <tr>
                                                                <td class="text-truncate">
                                                                    <a href="{% url 'main:car_detail' reservation.car.id %}">{{ reservation.car.make.name }} {{ reservation.car.model.name }}</a>
                                                                </td>
                                                                <td class="text-truncate">{{ reservation.car.number_plate }}</td>
                                                                <td class="text-truncate">{{ reservation.car.seating_capacity }}</td>
                                                                <td class="text-truncate">{{ reservation.client.first_name }} {{ reservation.client.last_name }}</td>
                                                                <td class="text-truncate">{{ reservation.client.email }}</td>
                                                                <td class="text-truncate">{{ reservation.client.phone_number }}</td>
                                                                <td class="text-truncate">{{ reservation.client.id_number }}</td>
                                                                <td class="text-truncate">{{ reservation.start_date }}</td>
                                                                <td class="text-truncate">{{ reservation.end_date }}</td>
                                                                <td class="text-truncate">$ {{ reservation.rate }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane" id="today_reservations">
                                                <table class="table table-centered table-hover table-xl mb-0" id="car-reservations">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-top-0">Car</th>
                                                            <th class="border-top-0">Number Plate</th>
                                                            <th class="border-top-0">Seating Capacity</th>
                                                            <th class="border-top-0">Client Name</th>
                                                            <th class="border-top-0">client Email</th>
                                                            <th class="border-top-0">Client Phone</th>
                                                            <th class="border-top-0">Client ID</th>
                                                            <th class="border-top-0">Start Date</th>
                                                            <th class="border-top-0">End Date</th>
                                                            <th class="border-top-0">Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for reservation in reservations_made_today %}
                                                            <tr>
                                                                <td class="text-truncate">
                                                                    <a href="{% url 'main:car_detail' reservation.car.id %}">{{ reservation.car.make.name }} {{ reservation.car.model.name }}</a>
                                                                </td>
                                                                <td class="text-truncate">{{ reservation.car.number_plate }}</td>
                                                                <td class="text-truncate">{{ reservation.car.seating_capacity }}</td>
                                                                <td class="text-truncate">{{ reservation.client.first_name }} {{ reservation.client.last_name }}</td>
                                                                <td class="text-truncate">{{ reservation.client.email }}</td>
                                                                <td class="text-truncate">{{ reservation.client.phone_number }}</td>
                                                                <td class="text-truncate">{{ reservation.client.id_number }}</td>
                                                                <td class="text-truncate">{{ reservation.start_date }}</td>
                                                                <td class="text-truncate">{{ reservation.end_date }}</td>
                                                                <td class="text-truncate">$ {{ reservation.rate }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane" id="fleet_available">
                                                <table class="table table-centered table-hover table-xl mb-0" id="car-reservations">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-top-0">Car Class</th>
                                                            <th class="border-top-0">Car Model</th>
                                                            <th class="border-top-0">Car Make</th>
                                                            <th class="border-top-0">Car Year</th>
                                                            <th class="border-top-0">Number Plate</th>
                                                            <th class="border-top-0">Color</th>
                                                            <th class="border-top-0">Seating Capacity</th>
                                                            <th class="border-top-0">Daily Rate</th>
                                                            <th class="border-top-0">Weekly Rate</th>
                                                            <th class="border-top-0">Monthly Rate</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for car in available_cars_list %}
                                                            <tr>
                                                                <td class="text-truncate">{{ car.car_class.name }}</td>
                                                                <td class="text-truncate"><a href="{% url 'main:car_detail' car.id %}">{{ car.model.name }}</a></td>
                                                                <td class="text-truncate">{{ car.make.name }}</td>
                                                                <td class="text-truncate">{{ car.year }}</td>
                                                                <td class="text-truncate">{{ car.number_plate }}</td>
                                                                <td class="text-truncate">{{ car.color }}</td>
                                                                <td class="text-truncate">{{ car.seating_capacity }}</td>
                                                                <td class="text-truncate">$ {{ car.daily_rate }}</td>
                                                                <td class="text-truncate">$ {{ car.weekly_rate }}</td>
                                                                <td class="text-truncate">$ {{ car.monthly_rate }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane" id="checkin">
                                                <table class="table table-centered table-hover table-xl mb-0" id="car-reservations">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-top-0">Car Class</th>
                                                            <th class="border-top-0">Car</th>
                                                            <th class="border-top-0">Number Plate</th>
                                                            <th class="border-top-0">Client</th>
                                                            <th class="border-top-0">Phone</th>
                                                            <th class="border-top-0">Hire Date</th>
                                                            <th class="border-top-0">checkin Date</th>
                                                            <th class="border-top-0">Total Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for reservation in pending_checkin %}
                                                            <tr>
                                                                <td class="text-truncate">
                                                                    <a href="">{{ reservation.car_class }}</a>
                                                                </td>
                                                                <td class="text-truncate">{{ reservation.make }} {{ reservation.model }}</td>
                                                                <td class="text-truncate">{{ reservation.number_plate }}</td>
                                                                <td class="text-truncate">{{ reservation.full_name }}</td>
                                                                <td class="text-truncate">{{ reservation.mobile_number }}</td>
                                                                <td class="text-truncate">{{ reservation.start_date }}</td>
                                                                <td class="text-truncate">{{ reservation.end_date }}</td>
                                                                <td class="text-truncate">{{ reservation.amount }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                            
                                            
                                        </div>
    
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row-->
    
                        
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {% endblock content %}