{% extends 'main/base.html' %}
{% block content %}
<!-- Begin page -->
<div id="layout-wrapper">
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Car Service</h4>

                          

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            
                            <div class="card-body">
                                <h4 class="card-title">Car Services</h4>
                            <p class="card-subtitle mb-4">Type the number plate of a car for a specific Search
                            </p>

                            <div class="d-flex justify-content-center">
                                <form method="GET" action="{% url 'car:car_services' %}" class="form-inline">
                                    <div class="form-group mb-3">
                                        <input type="text" name="search" class="form-control" placeholder="Enter Number plate">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                                <div class="table-responsive">
                                    <table class="table table-centered table-hover table-xl mb-0" id="car-service-table">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">Car</th>
                                                <th class="border-top-0">Service Date</th>
                                                <th class="border-top-0">Service Provider</th>
                                                <th class="border-top-0">Cost</th>
                                                <th class="border-top-0">Mileage</th>
                                                <th class="border-top-0">Next Service</th>
                                                <th class="border-top-0">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if car_services %}
                                                {% for service in car_services %}
                                                    <tr>
                                                        <td class="text-truncate">
                                                            <a href="{% url 'car:car_service' service.id %}">{{ service.car }}</a>
                                                        </td>                                                        
                                                        <td class="text-truncate">{{ service.service_date }}</td>
                                                        <td class="text-truncate">{{ service.service_by }}</td>
                                                        <td class="text-truncate">Ksh. {{ service.cost }}</td>
                                                        <td class="text-truncate">{{ service.current_kms }}</td>
                                                        <td class="text-truncate">{{ service.next_service }}</td>
                                                        <td class="text-truncate">
                                                            <a href="{% url 'car:edit_car_service' service.id %}" class="btn btn-sm btn-warning">
                                                                <i class="fas fa-edit"></i> Edit
                                                            </a>
                                                            <a href="{% url 'car:delete_car_service' service.id %}" class="btn btn-sm btn-danger">
                                                                <i class="fas fa-trash"></i> Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="6" class="text-center">No car serviced yet.</td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    <div class="col-12 text-center">
                                        <a href="{% url 'car:service' %}" class="btn btn-primary btn-lg">Add Car Service</a>
                                    </div>
                                </div>

                                <!-- Pagination Links -->
                                <div class="d-flex justify-content-center mt-3">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            {% if car_services.has_previous %}
                                                <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                                                <li class="page-item"><a class="page-link" href="?page={{ car_services.previous_page_number }}">{{ car_services.previous_page_number }}</a></li>
                                            {% endif %}

                                            <li class="page-item active"><a class="page-link" href="?page={{ car_services.number }}">{{ car_services.number }}</a></li>

                                            {% if car_services.has_next %}
                                                <li class="page-item"><a class="page-link" href="?page={{ car_services.next_page_number }}">{{ car_services.next_page_number }}</a></li>
                                                <li class="page-item"><a class="page-link" href="?page={{ car_services.paginator.num_pages }}">&raquo;</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                                <!-- End Pagination Links -->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
            </div>
        </div> <!-- container-fluid -->
    </div>
</div>
{% endblock content %}
