{% extends 'main/base.html' %}
        {% block content %}
                <!-- Begin page -->
                <div id="layout-wrapper">

                  <div class="main-content">
      
                      <div class="page-content">
                          <div class="container-fluid">
                              <!-- start page title -->
                              
                              <div class="row">
                                  <div class="col-12">
                                      <div class="page-title-box d-flex align-items-center justify-content-between">
                                          <h4 class="mb-0 font-size-18">Car Service</h4>
      
                                          <div class="page-title-right">
                                              <ol class="breadcrumb m-0">
                                                  <li class="breadcrumb-item"><a href="javascript: void(0);">Vehicles</a></li>
                                                  <li class="breadcrumb-item active"><a href="{% url 'car:service' %}">Add Car Service</a></li>
                                              </ol>
                                          </div>
                                          
                                      </div>
                                  </div>
                              </div>     
                              <!-- end page title -->
                                 
                                 
                              <div class="row">
                                  <div class="col-xl-12">
                                      <div class="card">
                                          <div class="card-body">
                                              </p>
      
                                              <div class="table-responsive">
                                                <table class="table table-centered table-hover table-xl mb-0" id="car-service-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-top-0">Car</th>
                                                            <th class="border-top-0">Service Date</th>
                                                            <th class="border-top-0">Description</th>
                                                            <th class="border-top-0">Cost</th>
                                                            <th class="border-top-0">Service Company</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if car_services %}
                                                            {% for service in car_services %}
                                                                <tr>
                                                                    <td class="text-truncate">{{ service.car }}</td>
                                                                    <td class="text-truncate">{{ service.service_date }}</td>
                                                                    <td class="text-truncate">{{ service.description }}</td>
                                                                    <td class="text-truncate">$ {{ service.cost }}</td>
                                                                    <td class="text-truncate">{{ service.service_company }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% else %}
                                                            <tr>
                                                                <td colspan="5" class="text-center">No car serviced yet.</td>
                                                            </tr>
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                                
                                                
                                            </div>
      
                                          </div> <!-- end card-body-->
                                      </div> <!-- end card-->
                                  </div> <!-- end col -->
                              </div>
                            
                              
          
          
      
                              
                          </div> <!-- container-fluid -->
                      </div>
      
                  </div>
                  <!-- end main content-->
      
              </div>
        {% endblock content %}
   