{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
        {% block content %}
                <!-- Begin page -->
                <div id="layout-wrapper">

                  <div class="main-content">
      
                      <div class="page-content">
                          <div class="container-fluid">
                              <!-- start page title -->
                              <div class="row">
                                  <div class="col-12">
                                      <div class="page-title-box d-flex align-items-center justify-content-between">
                                          <h4 class="mb-0 font-size-18">Edit {{vehicle_class.name}}</h4>
                                          
                                      </div>
                                  </div>
                              </div>     
                              <!-- end page title -->
      
                              <!-- end row -->
                              <div class="row">
                                  <div class="col-xl-12">
                                      <div class="card">
                                          <div class="card-body">
                                            <form method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <fieldset class="form-group text-center">
                                                    <div class="form-row justify-content-center">
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.name|as_crispy_field }}
                                                          
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <div class="form-row text-center">
                                                    <div class="form-group col-md-12 mb-2">
                                                        <button class="btn btn-primary btn-lg" type="submit"> Save vehicle Class changes</button>
                                                    </div>
                                                </div>
                                            </form>
                                              
      
                                          </div> <!-- end card-body-->
                                      </div> <!-- end card-->
                                  </div> <!-- end col -->
                              </div>
                          </div> <!-- container-fluid -->
                      </div>
      
                  </div>
                  <!-- end main content-->
      
              </div>
        {% endblock content %}
   