{% extends 'main/base.html' %}
{% block content %}
<!-- Begin page -->
<div id="layout-wrapper">
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Car Service</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Vehicles</a></li>
                                    <li class="breadcrumb-item active"><a href="{% url 'car:service' %}">Add Car Service</a></li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            
                            <div class="card-body">
                                <h4 class="card-title">Car Insurance</h4>

                                <div class="table-responsive">
                                    <table class="table table-centered table-hover table-xl mb-0" id="car-service-table">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">Car</th>
                                                <th class="border-top-0">Insurance Company</th>
                                                <th class="border-top-0">Start Date</th>
                                                <th class="border-top-0">End Date</th>
                                                <th class="border-top-0">Amount</th>
                                                <th class="border-top-0">Duration</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if insurances %}
                                                {% for service in insurances %}
                                                    <tr>
                                                        <td class="text-truncate">
                                                            <a href="{% url 'car:car_service' service.id %}">{{ service.car }}</a>
                                                        </td>                                                        
                                                        <td class="text-truncate">{{ service.insurance_company }}</td>
                                                        <td class="text-truncate">{{ service.policy_number }}</td>
                                                        <td class="text-truncate">Ksh. {{ service.start_date }}</td>
                                                        <td class="text-truncate">{{ service.end_date }}</td>
                                                        <td class="text-truncate">{{ service.duration }}</td>
                                                        <td class="text-truncate">
                                                            <a href="{% url 'car:edit_car_service' service.id %}" class="btn btn-sm btn-warning">
                                                                <i class="fas fa-edit"></i> Edit
                                                            </a>
                                                            <a href="{% url 'car:delete_car_service' service.id %}" class="btn btn-sm btn-danger">
                                                                <i class="fas fa-trash"></i> Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="6" class="text-center">No car serviced yet.</td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>

                                <!-- End Pagination Links -->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
            </div>
        </div> <!-- container-fluid -->
    </div>
</div>
{% endblock content %}
