{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
        {% block content %}
                <!-- Begin page -->
                <div id="layout-wrapper">

                  <div class="main-content">
      
                      <div class="page-content">
                          <div class="container-fluid">
                              <!-- start page title -->
                              <div class="row">
                                  <div class="col-12">
                                      <div class="page-title-box d-flex align-items-center justify-content-between">
                                          <h4 class="mb-0 font-size-18">Client Registration Form</h4>
                                          
                                      </div>
                                  </div>
                              </div>     
                              <!-- end page title -->
                              <!-- end row -->
                              <div class="row">
                                  <div class="col-xl-12">
                                      <div class="card">
                                          <div class="card-body">      
                                            <form method="post" enctype="multipart/form-data" class="form-horizontal">
                                                {% csrf_token %}
                                                <fieldset class="form-group">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6 mb-0">
                                                            {{ form.first_name|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-6 mb-0">
                                                            {{ form.id_number|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.email|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.phone_number|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.local_address|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.home_address|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.company|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.nationality|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.age|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.drivers_license_number|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.country_of_issue|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.license_expiry|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.credit_card|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.credit_card_number|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.card_expiry|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.physical_address|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            {{ form.office_telephone|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12 mb-0">
                                                            {{ form.residence_address|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <div class="form-row text-center">
                                                    <div class="form-group col-md-12 mb-2">
                                                        <button class="btn btn-primary btn-lg" type="submit">Save New Client</button>
                                                    </div>
                                                </div>
                                            </form>
                                            
                                              
      
                                          </div> <!-- end card-body-->
                                      </div> <!-- end card-->
                                  </div> <!-- end col -->
                              </div>
                          </div> <!-- container-fluid -->
                      </div>
      
                  </div>
                  <!-- end main content-->
      
              </div>
        {% endblock content %}
       
   