{% extends 'main/base.html' %}
        {% block content %}
                <!-- Begin page -->
                <div id="layout-wrapper">

                  <div class="main-content">
      
                      <div class="page-content">
                          <div class="container-fluid">
                              <!-- start page title -->
                              <div class="row">
                                  <div class="col-12">
                                      <div class="page-title-box d-flex align-items-center justify-content-between">
                                          <h4 class="mb-0 font-size-18">Invoices</h4>
                                          
                                      </div>
                                  </div>
                              </div>     
                             
                              <div class="row">
                                  <div class="col-xl-12">
                                      <div class="card">
                                          <div class="card-body">
                                            <h4 class="card-title">Invoices</h4>
                                            <p class="card-subtitle mb-4">Type the invoice number or clients Name for a specific Search
                                            </p>

                                            <div class="d-flex justify-content-center">
                                                <form method="GET" action="{% url 'invoices:invoices' %}" class="form-inline">
                                                    <div class="form-group mb-3">
                                                        <input type="text" name="search" class="form-control" placeholder="Enter Invoice Number or Client Name">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" type="submit">Search</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
      
                                              <div class="table-responsive">
                                                <table class="table table-centered table-hover table-xl mb-0" id="recent-orders">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-top-0">Invoice No.</th>
                                                            <th class="border-top-0">Car</th>
                                                            <th class="border-top-0">Car Class</th>
                                                            <th class="border-top-0">Client</th>
                                                            <th class="border-top-0">Date</th>
                                                            <th class="border-top-0">Duration</th>
                                                            <th class="border-top-0">Amount</th>
                                                            <th class="border-top-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for reservation in reservations %}
                                                            <tr>
                                                                <td class="text-truncate"><a href="{% url 'invoices:invoice_detail' reservation.id %}">{{ reservation.reservation_number }}</a></td>
                                                                <td class="text-truncate">{{ reservation.car.make.name }} {{ reservation.car.model.name }} {{ reservation.car.number_plate }}</td>
                                                                <td class="text-truncate">{{ reservation.car.car_class }}</td>
                                                                <td class="text-truncate">{{ reservation.client.first_name }} {{ reservation.client.last_name }}</td>
                                                                <td class="text-truncate">{{ reservation.created_at }}</td>
                                                                <td class="text-truncate">{{ reservation.start_date }} - {{ reservation.end_date }}</td>
                                                                <td class="text-truncate">Ksh.  {{ reservation.total_amount }}</td>
                                                                <td class="text-truncate">
                                                                    <a href="{% url 'reservations:update_reservation' reservation.id %}" class="btn btn-sm btn-warning">
                                                                        <i class="fas fa-edit"></i> 
                                                                    </a>
                                                                    <a href="{% url 'reservations:delete_invoice' reservation.id %}" class="btn btn-sm btn-danger">
                                                                        <i class="fas fa-trash"></i>
                                                                
                                                                
                                                            </tr>
                                                           
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                
                                            </div>
                                            <div class="d-flex justify-content-center mt-3">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination">
                                                        {% if reservations.has_previous %}
                                                            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                                                            <li class="page-item"><a class="page-link" href="?page={{ reservations.previous_page_number }}">{{ reservations.previous_page_number }}</a></li>
                                                        {% endif %}
                                            
                                                        <li class="page-item active"><a class="page-link" href="?page={{ reservations.number }}">{{ reservations.number }}</a></li>
                                            
                                                        {% if reservations.has_next %}
                                                            <li class="page-item"><a class="page-link" href="?page={{ reservations.next_page_number }}">{{ reservations.next_page_number }}</a></li>
                                                            <li class="page-item"><a class="page-link" href="?page={{ reservations.paginator.num_pages }}">&raquo;</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>
                                            </div>
      
                                          </div> <!-- end card-body-->
                                      </div> <!-- end card-->
                                  </div> <!-- end col -->
                              </div>
                            
                              
          
          
      
                              
                          </div> <!-- container-fluid -->
                      </div>
      
                  </div>
                  <!-- end main content-->
      
              </div>
        {% endblock content %}
   