{% extends 'main/base.html' %}
        {% block content %}
                <!-- Begin page -->
                <div id="layout-wrapper">

                  <div class="main-content">
      
                      <div class="page-content">
                          <div class="container-fluid">
                              <!-- start page title -->
                              <div class="row">
                                  <div class="col-12">
                                      <div class="page-title-box d-flex align-items-center justify-content-between">
                                          <h4 class="mb-0 font-size-18">Dashboard</h4>
      
                                          <div class="page-title-right">
                                              <ol class="breadcrumb m-0">
                                                  <li class="breadcrumb-item"><a href="javascript: void(0);">Vehicles</a></li>
                                                  <li class="breadcrumb-item active">Dashboard</li>
                                              </ol>
                                          </div>
                                          
                                      </div>
                                  </div>
                              </div>     
                              <!-- end page title -->
                              <div class="row">
      
                                  <div class="col-lg-12">
                                      <div class="card">
                                          <div class="card-body">
                                              <h4 class="card-title d-inline-block">Rent Occupation</h4>
      
                                              <div id="morris-bar-example" class="morris-chart" style="height: 260px;"></div>
      
                                              <div class="row text-center mt-4">
                                                  
                                              </div>
                                          </div>
                                      </div>
                                  </div> <!-- end col -->
                              </div>
                              <!-- end row-->
      
      
                              <div class="row">
                                  <div class="col-xl-12">
                                      <div class="card">
                                          <div class="card-body">
                                              <div class="table-responsive">
                                                <table class="table table-centered table-hover table-xl mb-0" id="car-reservations">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-top-0">Car Class</th>
                                                            <th class="border-top-0">Car Model</th>
                                                            <th class="border-top-0">Car Make</th>
                                                            <th class="border-top-0">Car Year</th>
                                                            <th class="border-top-0">Number Plate</th>
                                                            <th class="border-top-0">Color</th>
                                                            <th class="border-top-0">Seating Capacity</th>
                                                            <th class="border-top-0">Daily Rate</th>
                                                            <th class="border-top-0">Weekly Rate</th>
                                                            <th class="border-top-0">Monthly Rate</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for car in cars %}
                                                            <tr>
                                                                <td class="text-truncate">{{ car.car_class.name }}</td>
                                                                <td class="text-truncate"><a href="{% url 'main:car_detail' car.id %}">{{ car.model.name }}</a></td>
                                                                <td class="text-truncate">{{ car.make.name }}</td>
                                                                <td class="text-truncate">{{ car.year }}</td>
                                                                <td class="text-truncate">{{ car.number_plate }}</td>
                                                                <td class="text-truncate">{{ car.color }}</td>
                                                                <td class="text-truncate">{{ car.seating_capacity }}</td>
                                                                <td class="text-truncate">$ {{ car.daily_rate }}</td>
                                                                <td class="text-truncate">$ {{ car.weekly_rate }}</td>
                                                                <td class="text-truncate">$ {{ car.monthly_rate }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                              </div>
      
                                          </div> <!-- end card-body-->
                                      </div> <!-- end card-->
                                  </div> <!-- end col -->
                              </div>
                            
                              
          
          
      
                              
                          </div> <!-- container-fluid -->
                      </div>
      
                  </div>
                  <!-- end main content-->
      
              </div>
        {% endblock content %}
   