:root {
  --primary-color: #ed1e24;
  --secondary-color: #00d084;
}

a {
  text-decoration: none;
  color: inherit;
}


.navbar {
  background-color: #fff;
  padding: 60px 120px;
  height: 80px;
  border-bottom: 2px solid var(--secondary-color);
}

.navbar-nav .nav-link {
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 40px;
}

.navbar-nav .nav-link.btn {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 10px;
}

.navbar-nav .nav-link.btn:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.square-card {
  height: 150px; /* Adjust the height as per your preference */
  width: 150px; /* Adjust the width as per your preference */
  aspect-ratio: 1/1; /* Ensure the aspect ratio is 1:1 for square cards */
  background-color: var(--secondary-color);
  color: #fff;
}




@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  
.navbar-nav .nav-link {
  margin-top: 3px;
}
}